*.pyc
*.o
EMGU
Tfit
argTest
*.*~
end2end
build
.DS_Store
.vscode
tags
docs/Doxygen
docs/Kalambert.pdf
temp
Testmain
profile
.Rproj.user
docs/manual/*.aux
docs/manual/*.log
docs/manual/*.out
docs/manual/*.toc
docs/manual/*.pdf
