*.pyc
*.o
EMGU
Tfit
src/jsonTest
test/.RData
test/temp
test/.Rhistory
thirdparty
argTest
*.*~
end2end
build
.DS_Store
.vscode
tags
docs/Doxygen
docs/Kalambert.pdf
temp
Testmain
profile
.Rproj.user
docs/manual/*.aux
docs/manual/*.log
docs/manual/*.out
docs/manual/*.toc
docs/manual/*.pdf
docs/manual/*.mps
